<div class="flex justify-center mt-4">
  <div class="bg-accent p-4 rounded-md w-1/2 max-w-6xl">
    <h1 class="text-xl mb-4">Students</h1>
    <table class="table table-zebra w-full">
      <thead>
        <tr>
          <th class="px-4 py-2">Student Name</th>
          <th class="px-4 py-2">Status</th>
          <th class="px-4 py-2">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @students.each do |student| %>
          <tr class="hover">
            <td class="px-4 py-2"><%= highlight(student.name, params.dig(:q, :name_cont)) %></td>
            <td class="px-4 py-2">
              <% if @attendances.exists?(student_id: student.id) %>
                Present
              <% else %>
                Absent
              <% end %>
            </td>
            <td class="px-4 py-2">
              <%= submit_tag "Check-in", name: "check_in", 
                formaction: attendances_path(uid: student.uid),
                formmethod: :post,
                class: "btn btn-primary btn-sm",
                data: { turbo_frame: "students" } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
